body {
  background-color: #393030;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  color: #FFF;
}

.App h1,
.App h3 {
  color: #E64444;
  font-family: 'Rubik', sans-serif;
}

.App h2 {
  color: #F6D4D4;
  font-family: 'Rubik', sans-serif;
}

.App h3 {
  font-size: 3em;
  font-weight: 300;
}

.App p {
  font-size: 1.2em;
  letter-spacing: 0.08em;
  line-height: 1.6em;
}

.App a {
  color: #E64444;
  text-decoration: none;
}

.App a:hover {
  color: #F6D4D4;
}