body {
  background-color: #393030;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  color: #FFF;
}

.App h1,
.App h3 {
  color: #E64444;
  font-family: 'Rubik', sans-serif;
}

.App h2 {
  color: #F6D4D4;
  font-family: 'Rubik', sans-serif;
}

.App h3 {
  font-size: 3em;
  font-weight: 300;
}

.App p {
  font-size: 1.2em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

.App a {
  color: #E64444;
  text-decoration: none;
}

/* On page load */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

/* Animate in */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

/* Animate out */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-exit-done {
  opacity: 0;
}

@media (max-width: 767px) {
  .App h3 {
    margin: 0.5em 0;
  }
}

@media (max-width: 360px) {
  .App h3 {
    margin: 0.5em;
  }
  .App p {
    font-size: 1.05em;
  }
}