body {
  background-color: #393030;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  color: #FFF;
}

.App h1,
.App h3 {
  color: #E64444;
  font-family: 'Rubik', sans-serif;
}

.App h2 {
  color: #F6D4D4;
  font-family: 'Rubik', sans-serif;
}