.position {
    composes: position from '../components/About.module.css';
}

.contact {
    padding: 0 0 0 0.2em;
    list-style: none;
    color: #E64444;
    font-size: 1.8em;
    letter-spacing: 0.08em;
}

.icons {
    margin-left: -0.6em;
    font-size: 1.6em;
    width: 1em !important;
    padding: 0.4em;
    transform: scale(1);
    border-radius: 50%;
    border: 0.08em solid transparent;
    transition: border 1s cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.iconsOnHover {
    border: 0.08em solid #E64444;
    transform: scale(1.1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modes {
    display: flex;
    flex-direction: row;
    margin: 1.8em 0;
}

a {
    display: flex;
    align-items: center;
}

/* a:hover {
    color: #F6D4D4;
} */

.text {
    padding-left: 1em;
}

@media (max-width: 360px) {
    .contact {
        font-size: 1.6em;
    }
}