.position {
    composes: position from '../components/About.module.css';
}

.position h3 {
    margin: 0 0 0.5em;
}

.portfolioContainer {
    width: 90%;
    height: 72vh;
    overflow-y: scroll;
}

/* Scrollbar style */
.portfolioContainer::-webkit-scrollbar {
    width: 0.5em;
}
  
.portfolioContainer::-webkit-scrollbar-track {
    background: #2f2828;
    border-radius: 0.5em;
}

.portfolioContainer::-webkit-scrollbar-thumb {
    background: #5d4e4e;  
    border-radius: 0.5em;
}

.portfolioContainer::-webkit-scrollbar-thumb:hover {
    background: #f6d4d45c;
}

@media (max-width: 1024px) {
    .portfolioContainer {
        width: 100%;
        max-width: 100%;
    }

    .position h3 {
        margin: 0 0 0.5em !important;
    }
}

@media (max-width: 768px) {
    .position {
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .position {
        margin-top: 0;
    }

    .position h3 {
        margin: 0 !important;
    }
}

@media (max-width: 320px) {
    .portfolioContainer {
        height: 70vh;
    }
}