header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 80px;
}

.logo {
    width: 4em;
    padding: 1em 1em 1em 1.6em;
}

.hamburgerIcon {
    display: none;
}

.line {
    display: inherit;
    background: #F6D4D4;
    width: 1.8em;
    height: 0.2em;
    border-radius: 0.06em;
    margin: 0.2em;
    box-shadow: 0 1px 1px #897474;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    list-style: none;
    padding: 1em 1.6em 1em 1em;
}

.socialIcons {
    font-size: 1.6em;
    padding: 0 0.6em;
    transform: scale(1);
}

.socialIcons:hover {
    transform: scale(1.5);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.socialIcons a {
    color: #E64444;
}

@media (max-width: 1024px) {
    .logo {
       z-index: 2;
    }

    .social {
        display: none;
    }

    .hamburgerIcon {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1.6em 1em;
    }
  }