@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-color: #372929; */
  --background-color: #251c1c;
  --text-color: #f6f1f1;
  --accent-color: #fa6379;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  min-height: calc(100vh - 68px);
}

.centered-content {
  min-height: calc(100vh - 260px); /* Navbar-height:68 + padding-top:96 + padding-bottom:96 */
}

@media (max-width: 768px) {
  .centered-content {
    min-height: calc(100vh - 200px); /* Navbar-height:68 + padding-top:32 + padding-bottom:32 */
    /* Reduced height to look offcentered and closer to the top */
  }
}

nav {
  background: var(--background-color);
}

.icon-color-light, .link-text {
  color: var(--text-color);
}

.link-text:hover {
  text-decoration: underline;
}

main {
  margin-top: 68px;
  min-height: calc(100vh - 68px);
}

.social-icon {
  fill: var(--text-color);
}
