@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #372929;
  --text-color: #f6f1f1;
  --accent-color: #fa6379;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

