@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-color: #372929; */
  --background-color: #251c1c;
  --text-color: #f6f1f1;
  --accent-color: #fa6379;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

nav {
  background: var(--background-color);
}

.icon-color-light, .link-text {
  color: var(--text-color);
}

.link-text:hover {
  text-decoration: underline;
}

main {
  margin-top: 68px;
}

svg {
  fill: var(--text-color);
}
