.position {
    width: 70%;
    margin-top: 6em;
    position: absolute;
    top: 0%;
    left: 45%;
    transform: translate(-45%, 0%);
}

.button {
    display: flex;
    margin-top: 4em;
}

.pill {
    composes: pill from './Pill.module.css';
}

.text {
    width: 80% !important;
}

p {
    width: 80% !important;
}

@media (max-width: 1024px) {
    .position {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        /* margin-top: 0; */
        /* margin: 0 3em; */
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    p {
        width: 100% !important;
    }

    .text {
        letter-spacing: 0.06em !important;
        line-height: 1.8em !important;
    }
}

@media (max-width: 767px) {   
}

@media (max-width: 360px) {
.position {
    top: 50%;
}

.button {
    margin-top: 1em;
}
}