.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #E64444;
    font-family: 'Rubik', sans-serif;
}

.menu {
    list-style: none;
    padding: 0;
    font-size: 1.6em;
    padding-right: 1.6em;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

.menu li {
    padding: 0.1em 0;
}

.menu li a {
    color: #E64444;
    text-decoration: none;
    text-anchor: middle;
}

.hoverLink {
    text-align: left;
    padding: 0.6em 1em 0.6em 0.7em;
}

.hoverLink:hover,
.hoverLink:focus {
    box-shadow: inset 0.5px 1px 2px rgba(0, 0, 0, 0.514);
}

.bullet {
    font-size: 0.3em;
    padding: 0 0 0 2.6em;
}

.menuBullet {
    font-size: 0.5em;
    padding: 0 2em 0 0;
}

.selected {
    font-size: 1em;
    position: absolute;
    left: 0.46em;
    transform: scale(0.2);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show {
    transform: scale(1);
}

.circle {
    font-size: 1em;
    position: relative;
    right: 1.8em;
    top: 0.2em;
}