header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 64px;
}

.logo {
    width: 4em;
    padding: 1em 1em 1em 1.6em;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    list-style: none;
    padding: 1em 1.6em 1em 1em;
}

.socialIcons {
    font-size: 1.6em;
    padding: 0 0.6em;
}

.socialIcons a {
    color: #E64444;
}