.Item {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: calc(75vh/3);
}

.thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 5em 1em 0;
    box-shadow: 1px 1px 2px 1px #2d2727;
}

.thumbnail img {
    width: calc(70vh/3);
}

.thumbnail .mouseOver {
    color: #e64444;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 100%;
    padding: 0.14em 0;
    background: #393030e8;
    text-align: center;
    position: relative;
    top: -17%;
    left: 0%;
    bottom: 0;
    transform: translate(0, 17%);
}

.thumbnail .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgba(230, 68, 68, 0.753);
    width: calc(70vh/3);
    height: calc(70vh/3);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s ease-in;
    z-index: 1;
}

.thumbnail .overlay:hover {
    opacity: 1;
}

.thumbnail .links {
    font-size: 1.08em;
    letter-spacing: 0.05em;
    height: 7.8em;
    position: absolute;
    top: 50%;
    bottom: 0%;
    transform: translate(0, -50%);
}

.thumbnail .top {
    position: relative;
    bottom: 40%;
    opacity: 0;
    transition: bottom 0.8s cubic-bezier(0.19, 1, 0.22, 1),
                opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.thumbnail .topOnHover {
    position: relative;
    bottom: 0;
    opacity: 1;
    cursor: pointer;
}

.thumbnail .bottom {
    position: relative;
    top: 40%;
    opacity: 0;
    transition: top 0.8s cubic-bezier(0.19, 1, 0.22, 1),
                opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.thumbnail .bottomOnHover {
    position: relative;
    top: 0;
    opacity: 1;
    cursor: pointer;
}

.thumbnail .links a {
    color: #FFF;
}

.thumbnail .links a:hover {
    color: #FFF;
    font-weight: bold;
}

.thumbnail .circle {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0.6em 0.5em 0;
    background: #E64444;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.thumbnail svg {
    align-self: center;
    font-size: 2em;
}

.details h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 0.6em 0 0.4em;
    font-family: 'Rubik', sans-serif;
}

.details p {
    font-size: 1.1em !important;
    margin-bottom: 0.2em;
}

.details .skills {
    display: flex;
}

.pill {
    composes: pill from './Pill.module.css';
    font-size: 0.8em;
    padding: 0 1em;
    width: auto;
    height: 2.2em;
    cursor: default;
}

@media (max-width: 1024px) {
    .Item {
        width: 100%;
        max-width: 100%;
    }

    .thumbnail {
        margin: 1em 1.5em 1em 4em;
    }

    .details {
        margin: 0 4em 0 1.5em;
    }

    .details h4 {
        margin: 1em 0;
    }

    .thumbnail .mouseOver {
        display: none;
    }

    .thumbnail .overlay {
        background: rgba(230, 68, 68, 0.753);
        opacity: 1;
    }

    .thumbnail .top {
        bottom: 0;
        opacity: 1;
        cursor: pointer;
    }

    .thumbnail .bottom {
        top: 0;
        opacity: 1;
        cursor: pointer;
    }

    .thumbnail .links a {
        text-shadow: 0px 1px 1px #772424bf;
    }
}

@media (max-width: 767px) {   
}

@media (max-width: 480px) {
    .Item {
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        padding: 0 0 1em;
        height: auto;
        box-shadow: 0px 20px 2px -18px #2a2323;
    }

    .thumbnail {
        margin: 1em 0 2em;
        width: calc(70vh/3);
        height: calc(70vh/3);
    }

    .details {
        margin: 0 1.5em;
    }

    .details h4 {
        text-align: center;
    }

    .details .skills {
        display: flex;
        justify-content: center;
    }
}